<aside class="properties-panel">
  <h3>Properties</h3>
  
  <ng-container *ngIf="selectedObject; else noSelection">
    <div class="property-group object-info">
      <div class="obj-name">{{ selectedObject.name }}</div>
      <div class="obj-id">{{ selectedObject.id }}</div>
    </div>

    <div class="property-group">
      <h4>Transform</h4>
      
      <div class="transform-row">
        <label>Position</label>
        <div class="vector-inputs">
          <div class="vector-input"><span class="axis x">X</span><input type="number" step="0.1" [(ngModel)]="transform.position.x" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis y">Y</span><input type="number" step="0.1" [(ngModel)]="transform.position.y" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis z">Z</span><input type="number" step="0.1" [(ngModel)]="transform.position.z" (input)="onTransformChange()"></div>
        </div>
      </div>

      <div class="transform-row">
        <label>Rotation</label>
        <div class="vector-inputs">
          <div class="vector-input"><span class="axis x">X</span><input type="number" step="5" [(ngModel)]="transform.rotation.x" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis y">Y</span><input type="number" step="5" [(ngModel)]="transform.rotation.y" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis z">Z</span><input type="number" step="5" [(ngModel)]="transform.rotation.z" (input)="onTransformChange()"></div>
        </div>
      </div>

      <div class="transform-row">
        <label>Scale</label>
        <div class="vector-inputs">
          <div class="vector-input"><span class="axis x">X</span><input type="number" step="0.1" [(ngModel)]="transform.scale.x" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis y">Y</span><input type="number" step="0.1" [(ngModel)]="transform.scale.y" (input)="onTransformChange()"></div>
          <div class="vector-input"><span class="axis z">Z</span><input type="number" step="0.1" [(ngModel)]="transform.scale.z" (input)="onTransformChange()"></div>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-template #noSelection>
    <div class="empty-state">Select an object to edit properties</div>
  </ng-template>
</aside>
